.post-content p,
.post-content li {
    text-align: justify;

    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
    -webkit-hyphenate-limit-chars: 10 3 4;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
    -moz-hyphens: auto;
    -moz-hyphenate-limit-chars: 10 3 4;
    -moz-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-last: always;
    -moz-hyphenate-limit-zone: 8%;
    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 10 3 4;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-zone: 8%;
    hyphens: auto;
    hyphenate-limit-chars: 10 3 4;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}

.post-content code {
    hyphens: none;
}

.goat > svg > g > text {
    font-family: monospace !important;
    font-size: 0.8em !important;
    transform: translateY(0.05em);
}

:root {
    --safe-magenta: #dd2277;
    --safe-blue: #1177cc;
}

body:has(.post-single) {
    --main-width: var(--nav-width);
}

.post-content > details {
    margin-bottom: var(--content-gap) !important;
}

div.highlight {
    margin-bottom: var(--content-gap) !important;
}

.post-content pre code:not(.dark *) {
    color: unset !important;
}

/* Make the theme actually gray */

:root {
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(245, 245, 245); /* changed to --code-bg */
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: rgb(30, 30, 30);
    --entry: rgb(46, 46, 46);
    --primary: rgb(218, 218, 218);
    --secondary: rgb(156, 156, 156);
    --tertiary: rgb(66, 66, 66);
    --content: rgb(196, 196, 196);
    --code-block-bg: rgb(46, 46, 46);
    --code-bg: rgb(56, 56, 56);
    --border: rgb(51, 51, 51);
}

@view-transition {
    navigation: auto;
}
