<script>
    // extend_footer is run _before_ PaperMod's code, so wait for full load
    // and then replace the toggle button with a copy that uses view transitions.
    window.addEventListener("load", () => {
        const old = document.getElementById("theme-toggle");
        const clone = old.cloneNode(true);
        old.parentNode.replaceChild(clone, old);

        clone.addEventListener("click", () => {
            const toggle = () => {
                if (document.body.className.includes("dark")) {
                    document.body.classList.remove('dark');
                    localStorage.setItem("pref-theme", 'light');
                } else {
                    document.body.classList.add('dark');
                    localStorage.setItem("pref-theme", 'dark');
                }
            };

            if (document.startViewTransition) {
                document.startViewTransition(toggle);
            } else {
                toggle();
            }
        });
    });
</script>
